.center-warning {
    text-align: center;
    padding: 40px;
    font-size: 150%;
}

.center {
    text-align: center;
    padding: 10px;
}

.middle-font {
    font-size: 125%;
}

.padding {
    padding: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.image {
    max-width: 1000px;
    max-height: 800px;
}